name: Enforce Changelog
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, labeled, unlabeled]

jobs:
  enforce-changelog:
    uses: cap-js/.github/.github/workflows/enforce-changelog.yml@main
    secrets: inherit
    permissions:
      pull-requests: write
