# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:

  publish-npm:
    runs-on: ubuntu-latest
    environment: npm
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 22
        registry-url: https://registry.npmjs.org/

    - name: Run Unit Tests
      run: |
        npm ci
        npm run test

    #- name: Run Integration Tests
    #  run: |
    #    npm install
    #    npm run test:integration

    - name: get-version
      id: package-version
      # requires npm which we get from setup-node
      run: |
        echo "current-version=$(npm pkg get version | tr -d '"')" >> $GITHUB_OUTPUT

    - run: |
        echo "current-version: ${{ steps.package-version.outputs.current-version }}"

    # - name: Parse changelog
    #   id: parse-changelog
    #   uses: schwma/parse-changelog-action@v1.0.0
    #   with:
    #     version: '${{ steps.package-version.outputs.current-version }}'

    # - name: Create a GitHub release
    #   uses: ncipollo/release-action@v1
    #   with:
    #     tag: 'v${{ steps.package-version.outputs.current-version }}'
    #     body: '${{ steps.parse-changelog.outputs.body }}'

    # - run: npm publish --access public
    #   env:
    #     NODE_AUTH_TOKEN: ${{secrets.npm_token}}
