# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Release

on:
  push:
    branches: main

  workflow_dispatch:
    inputs:
      pre-increment:
        description: Increment version before publishing to NPM
        default: none
        type: choice
        options:
          - patch
          - minor
          - major
          - none

      post-increment:
        description: Increment version after publishing to NPM
        default: none
        type: choice
        options:
          - patch
          - minor
          - major
          - none

      dry-run:
        description: Dry run
        required: false
        default: false
        type: boolean

permissions:
  contents: write

env:
  INPUTS_DRY_RUN: ${{ github.event.inputs.dry-run }}
  INPUTS_INCREMENT: ${{ github.event.inputs.increment }}
  INPUTS_POST_INCREMENT: ${{ github.event.inputs.post-increment }}
  DRY_RUN_OPTION: ${{ github.event.inputs.dry-run == 'true' && '--dry-run' || '' }}


jobs:
  check-versions:
    runs-on: ubuntu-latest
    outputs:
      do-release: ${{ steps.check-versions.outputs.do-release }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/

      - name: Check Versions
        id: check-versions
        run: |
          if [ "$GITHUB_EVENT_NAME" == "workflow_dispatch" ]; then
            echo "Run as workflow_dispatch: run release"
            echo "do-release=true" >> $GITHUB_OUTPUT
            exit 0
          fi

          package_name=$(npm pkg get name | tr -d '"')
          local_version=$(npm pkg get version | tr -d '"')
          npm_version=$(npm show $package_name version)

          echo "Local version: $local_version"
          echo "NPM version: $npm_version"

          npm install -g semver

          if semver -r ">${npm_version}" "${local_version}"; then
            echo "Local version is greater than npm version: run release"
            echo "do-release=true" >> $GITHUB_OUTPUT
          else
            echo "Local version is not greater than npm version: nothing to do."
            echo "do-release=false" >> $GITHUB_OUTPUT
          fi

  publish-npm:
    runs-on: ubuntu-latest
    needs: check-versions
    if: ${{ needs.check-versions.outputs.do-release == 'true' }}
    environment: npm
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/

      - name: Run Unit Tests
        if: ${{ github.event.inputs.dry-run == 'false' }}
        run: |
          npm ci
          npm run test

      # requires npm which we get from setup-node
      - name: Increment version
        if: ${{ github.event.inputs.pre-increment != 'none' }}
        run: |
          npm version $INPUTS_INCREMENT --no-git-tag-version

      - name: Publish to npm
        run: npm publish --access public $DRY_RUN_OPTION
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}

      - name: get version
        id: get-version
        run: |
          echo "new-version=$(npm pkg get version | tr -d '"')" >> $GITHUB_OUTPUT

      - name: Parse CHANGELOG.md
        id: parse-changelog
        uses: schwma/parse-changelog-action@v1.0.0
        with:
          version: '${{ steps.get-version.outputs.version }}'
          title-regex: '^##\s+\[\d.*$'

      - name: Create a GitHub release
        if: ${{ github.event.inputs.dry-run == 'false' }}
        uses: ncipollo/release-action@v1
        with:
          tag: 'v${{ steps.get-version.outputs.new-version }}'
          body: '${{ steps.parse-changelog.outputs.body }}'

      # add missing template to change log for new development
      # -E extended mode for \s support, -i inplace
      # 0,: only operate on the first match.
      # & is the matched string
      - name: Add version template to CHANGELOG.md
        run: |
          sed -i -E '0,/^##\s+.*$/s//## [Unreleased]\
          \
          ### Added\
          ### Changed\
          ### Deprecated\
          ### Removed\
          ### Fixed\
          ### Security\
          \
          &/' CHANGELOG.md

      # increment version for next development
      - name: Post increment version
        if: ${{ github.event.inputs.post-increment != 'none' }}
        run: |
          npm version $INPUTS_POST_INCREMENT --no-git-tag-version

      # commit and push branch
      - name: Commit changes
        env:
          NEW_VERSION: ${{ steps.get-version.outputs.new-version }}
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "noreply+ms@github.com"

          git add -u .
          git commit -m "chore(version): $INPUTS_INCREMENT version $NEW_VERSION"
          git push origin $BRANCH $DRY_RUN_OPTION

      - name: Create a GitHub release
        if: ${{ github.event.inputs.dry-run == 'false' }}
        uses: ncipollo/release-action@v1
        with:
          tag: 'v${{ steps.get-version.outputs.version }}'
          body: '${{ steps.parse-changelog.outputs.body }}'
