name: Unit Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  smoke-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
          node-version: 20

    - name: Run Smoke Tests
     run: |
       npm install
       npm run test:smoke  

  unit-tests:
    strategy:
      matrix:
        version: [20, 18]
        platform: [ macos-latest, ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
          node-version: ${{ matrix.version }}

    - name: Run Unit Tests
      run: |
        npm install
        npm run test:unit
